.App {
    display: flex;
    margin: 0;
}

.content {
    padding: 40px 100px;
    flex-grow: 1;
    background-color: #dedede;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.sr-only {
    position: fixed;
    top: -9999px;
    left: -9999px;
    height: 0;
    width: 0;
    opacity: 0;
}